<%- include('header_connected') %>

<div class="mb-4 text-center display-4 mt-5">
    <h1 >Liste des Clients</h1>
</div>

<div class="container w-75 mt-5 li-container" >
    <table id="table" class="table table-light table-striped table-responsive{-sm|-md|-lg|-xl}">
        <thead>
            <td class="tdhead"> #</td>
            <td class="tdhead"> Nom</td>
            <td class="tdhead"> Date de naissance</td>
            <td class="tdhead"> N° sécurité sociale</td>
            <td class="tdhead"> Mutuelle</td>
        </thead>
        <tbody class="" id="tableau">
            <div class="list-group"> <% dataClient.forEach(function(res){ %>
                <tr>
                <!-- <td class="list-group-item d-flex align-items-center"> -->
                    <td><strong><%= res.cli_id %></strong></td>
                    <td><%= res.cli_nom %> <%= res.cli_prenom %></td>
                    <td><%= res.cli_dateNaiss.toLocaleDateString('el-GR') %></td>
                    <td><%= res.cli_numSecu %></td>
                    <td><%= res.mutu_nom %> <br> <img src="/images/tel.png" class="li-icon">: <%= res.mutu_tel %></td>
                    <td class=" justify-content-between align-items-center"><a href="http://localhost:3000/client/modifier/<%= res.cli_id %> "></a> <a href="http://localhost:3000/client/supprimer/<%= res.cli_id %>"><img src="/images/suppr.png" class="li-icon"></a></td>
                </tr>
                    <!-- </td> -->
            <% }) %> 
                </div>
        </tbody>
    </table>
</div>

<%- include('footer') %>